<footer class="bg-dark p-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="py-4">
                    <img class="img-fluid" src="./assets/img/logo/logo-blanco-equi.png" alt="equifax">
                </div>
            </div>
            <div class="col-lg-4">
                <h4 class="mb-4 text-white">Contacto</h4>
                <p class="text-white">Santiago Concha 1148, Santiago Centro, Santiago de Chile</p>
                <ul class="nav nav-light flex-column">
                            
                    <li class="nav-item">
                        <a class="ps-0 nav-link text-white" href="mailto:carlosavendano43@gmail.com">carlosavendano43@gmail.com</a>
                    </li>
                    <li class="nav-item">
                        <a class="ps-0 nav-link text-white" href="tel:+56936488729">+56936488729</a>
                    </li>
                    <li class="nav-item">
                        <a class="ps-0 nav-link text-white" rel="noopener noreferrer" href="https://www.linkedin.com/in/carlos-jose-avenda%C3%B1o-mora-32096216a/" target="_blank">
                            Linkedin
                        </a>
                    </li>
                </ul>

            </div>
            <div class="col-lg-5">
                <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.6542297748742!2d-70.64241048434388!3d-33.45831388077162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c56c2fb57a15%3A0xbed34146cd2a5786!2sSantiago%20Concha%201148%2C%20Santiago%2C%208360050%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1655415611165!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</footer>