

<nav class="navbar navbar-expand-lg bg-red bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img class="img-fluid" src="./assets/img/logo/logo-blanco-equi.png" alt="equifax">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         
          <ng-container *ngIf="!userState; else showUserInit">
            <li class="nav-item">
              <a class="nav-link text-white cursor-pointer" routerLink="/auth/sign-in" (click)="goToSignIn()">Iniciar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white cursor-pointer" routerLink="/auth/sign-up" (click)="goToSignUp()">Registrar</a>
            </li>
          </ng-container>

          <ng-template #showUserInit>
            <li class="nav-item">
              <a class="nav-link text-white cursor-pointer"  (click)="logout()">Cerrar sesion</a>
            </li>
          </ng-template>
          
        </ul>
        
      </div>
    </div>
</nav>
