<div class="modal fade" id="ModalTickets" tabindex="-1" aria-labelledby="ModalTickets" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="form">
          <div class="modal-header">
            <h3 class="modal-title" id="ModalTickets">{{title}}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          
              <div class="form-group">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Título</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="title">
                    <!--<mat-error>Formato de email invalido</mat-error>-->
                </mat-form-field>
              </div>

              <div class="form-group">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Descripción</mat-label>
                      <textarea matInput formControlName="description"></textarea>
                      <!--<mat-error>Formato de email invalido</mat-error>-->
                    </mat-form-field>
              </div>

        
              <div class="form-group">
                <mat-radio-group aria-label="Select an option" formControlName="status">
                  <mat-radio-button value="false">No visible</mat-radio-button>
                  <mat-radio-button value="true">Visible</mat-radio-button>
                </mat-radio-group>
              </div>

          </div>
          <div class="modal-footer">
            <button *ngIf="type === 1" type="button" class="btn btn-danger" (click)="onPostTickest()" mat-raised-button data-bs-dismiss="modal" [disabled]="!form.valid">{{titleBtn}}</button>
            <button *ngIf="type === 2" type="button" class="btn btn-danger" (click)="onPutTickest()" mat-raised-button data-bs-dismiss="modal">{{titleBtn}}</button>
          </div>
        </form>
      </div>
    </div>
</div>
