.text-white {
    color: #fff;
}

.bg-red {
    background-color: #981e32 !important;
}

.nav-item {
    transition: all .2s;
    a:hover {
        transition: all .2s;
        color: rgb(255,255,255,0.7) !important;
    }
}
.cursor-pointer {
    cursor: pointer;
}
