<div class="container">
    <div class="d-flex min-vh-70 align-items-center">
        <div class="w-100 row">
            <div class="col-lg-4 mx-auto">
                <mat-card class=" p-2">
                    <form [formGroup]="form" (submit)="onSignUp()">
                        <mat-card-title class="text-center mx-3">Registrar</mat-card-title>
                        <mat-card-content>
                        <div class="container my-4">
                            <div class="form-group">
                                    <mat-form-field class="w-100" appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="pat@example.com" formControlName="email">
                                        <!--<mat-error>Formato de email invalido</mat-error>-->
                                    </mat-form-field>
                                </div>
                            <div class="form-group">
                                    <mat-form-field class="w-100" appearance="fill">
                                        <mat-label>Contraseña</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="contrasena">
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>
                            </div>
                            <div class="my-3" *ngIf="messageErrorStatus">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{messageError}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="onCloseAlert()"></button>
                                </div>
                            </div>
                        </div>
                        </mat-card-content>
                        <mat-card-actions class="p-3">
                            <button class="btn w-100 btn-danger" [disabled]="!form.valid" mat-raised-button >Registrar</button>
                        </mat-card-actions>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>
