<app-header></app-header>
<main class="main">
    <div class="my-4 py-4 container min-vh-70">
        <mat-card>
            <mat-card-title class="d-flex justify-content-between">
                <div>Ticket</div>
                <div>
                    <button class="btn btn-danger" mat-raised-button (click)="openModalAdd()" data-bs-toggle="modal" data-bs-target="#ModalTickets"><mat-icon class="mr-2">add</mat-icon> Agregar Ticket</button>
                </div>
            </mat-card-title>
            <mat-card-content>
                <table class="w-100" mat-table [dataSource]="dataSource" matSort>
               
                    <!-- title -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</th>
                        <td mat-cell *matCellDef="let element">{{element.title}}</td>
                    </ng-container>
                    <!-- description -->
                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                      <td mat-cell *matCellDef="let element">{{element.description}} </td>
                    </ng-container>
                    
                     <!-- accion Column -->
                     <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef>Accíon</th>
                        <td mat-cell *matCellDef="let element wrap">
                          <div class="d-flex">
                            <button mat-icon-button matTooltip="Editar ticket" (click)="openModalEdit(element)" data-bs-toggle="modal" data-bs-target="#ModalTickets"><mat-icon>edit</mat-icon></button>
                            <button mat-icon-button matTooltip="Eliminar ticket" color="warn"  (click)="onDeleteTickets(element)"><mat-icon>delete</mat-icon></button>    
                          </div>
                            
                        </td>
                      </ng-container>
                
                   
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
            </mat-card-content>
            <mat-card-actions>
                <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
            </mat-card-actions>
        </mat-card>
    </div>
</main>
<app-footer></app-footer>

<app-modal [type]="type" [data]="data" (onSubmitEvent)="onSubmit($event)"></app-modal>